<template>
  <div id="app">
    <h1>Vue Base</h1>
    <div>
        <span><router-link to="About">About</router-link></span>
        <span><router-link to="Login">Login</router-link></span>
    </div>
    <div>
      <router-view></router-view>
    </div>
  </div>
</template>

<script>
</script>

<style>
</style>

